venv/
.venv/

my_env/
.my_env/

auth_env/
.auth_env/

flight_env/
.flight_env/

booking_env/
.booking_env/

env/
__pycache__/
*.py[cod]

.env

.vscode/
.idea/

.docker/

*.log
.pytest_cache/

.python-version