fastapi==0.115.12
uvicorn==0.49.0
sqlalchemy==2.0.51
asyncpg==0.31.0
pydantic==2.13.4
pydantic[email]
pydantic-settings==2.14.1
alembic==1.18.4
PyJWT==2.13.0
passlib==1.7.4
fastapi-limiter==0.2.0
redis==8.0.0
loguru==0.7.3
bcrypt==4.0.1
